@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0e171a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-box {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: #c79051;
    box-shadow: 0px 3px 8px #0e171a;
    z-index: 1;
}

.trinity-logo {
    position: absolute;
    height: 100%;
}

.card-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0 0 0 ;
    padding: 0;
    width: 95vw;
    height: 60vh;
    gap: 3vw;
}

.card {
    position: relative;
    display: flex;
    width: calc(7vh + 35 * (100vw/400));
    height: calc(7vh + 35 * (100vw/400));
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #c79051;
    box-shadow: 10px 10px 4px #010202;
    transition-duration: 1s;
}

.card:hover {
    transform: translateY(-2vh);
    transition-duration: 0.2s;
    position: relative;
    display: flex;
    width: calc(7vh + 35 * (100vw/400));
    height: calc(7vh + 35 * (100vw/400));
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #c79051;
    box-shadow: 10px 10px 20px #070c0e;
}

.image {
    width: 100%;
    border-radius: 9px;
}
  
.text-box {
    background-image: linear-gradient(transparent, #151c1e);
    color: #e7e7e7de;
    margin-top: -63%;
    width: 100%;
    height: 63%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 8px;
}

.name {
    font-size: 1.7em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 1% 5% 1% 5%;
    display: flex;
    justify-content: center;
    cursor: default;
}

.upper-descripition {
    font-weight: bold;
    font-size: 1.3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: default;
}

.description {
    font-size: 1.2em;
    width: 100%;
    padding: 1% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    cursor: default;
}

.personal-description {
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    padding: 1% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: default;
}

.index-page-box {
    position: absolute;
    top: 82vh;
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #997c5c;
    border-radius: 30% 0% 30% 0%;
}

.index-page {
    font-family: 'Aboreto', cursive;
    font-size: 1vw;
    font-weight: 600;
    color: #e7e7e7de;
}

.button-box {
    position: absolute;
    top: 88vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.button {
    background-color: #e7e7e79a;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: none;
    transition-duration: 0.1s;
}

.button:hover {
    background-color: #997c5c;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: none;
    transition-duration: 0.1s;
}

.button-pedro {
    position: absolute;
    top: 92vh
}

.add-button {
    width: 7vw;
    height: 5vh;
    border-radius: 30px;
    background-color: transparent;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    color: #e7e7e7de;
    border: 2px solid #997c5c;
}

.add-button:hover {
    width: 7vw;
    height: 5vh;
    border-radius: 30px;
    background-color: #997c5c;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    color: #e7e7e7de;
    cursor: pointer;
}

.modal-box {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.fieldset-box {
    position: relative;
    background-color: #0e171a;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    border: none;
    border-radius: 6px; 
    box-shadow: 10px 10px 4px #997c5c;
}

.gif {
    position: absolute;
    z-index: 0;
    top: 33vh;
    left: calc(30px + 105 * (100vw/400));
    width: calc(150px + 20 * (100vw/400));
    opacity: 1;
}

.text-box-fieldset {
    position: relative;
    border-radius: 6px;
    background-color: #ffffff13;
    padding: 2vw ;
    width: 43vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12vh;    
    z-index: 1;
    box-shadow: 10px 10px 4px #997c5c;
}

.modal-title {
    display: flex;
    font-family: 'Aboreto', cursive;
    width: 38vw;
    font-size: calc(30px + 2 * (100vw/1000));
    font-weight: 800;
    color: #e7e7e7ea;
}

.modal-text-content {
    position: absolute;
    top: 28vh;
    left: 3vw;
    display: flex;
    font-family: 'Aboreto', cursive;
    width: 20vw;
    font-size: calc(15px + 2 * (100vw/1000));
    font-weight: 600;
    color: #c79051;
}

.fieldset {
    background-color: #c79051;
    padding: 10px;
    width: 23vw;
    height: 60vh;
    border: none;
    border-radius: 25px 0px 25px 0px;
    padding: 3vh 6vh 3vh 6vh;
    box-shadow: 10px 10px 4px #997c5c;
    z-index: 1;
}

.field {
    position: relative;
    margin: 1.5vh 0vh 1.5vh 0vh;
}

label {
    font-family: 'Aboreto', cursive;
    font-size: 12px;
    color: #e7e7e7;
    position: absolute;
    top: 0;
    left: 0;
}

input {
    color: #e7e7e7;
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid #e7e7e7de;
    outline: none;
}

input::placeholder {
    color: #e7e7e7de;
    opacity: 0.4;
}

.modal-button-box {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.modal-button {
    width: calc(5vw + 5 * (100vw/1400));
    height: calc(1vw + 2 * (100vw/400));
    border-radius: 3px;
    border: none;
    font-weight: 600;
    color: #0e171a;
    font-family: 'Aboreto', cursive;
    font-size: 12px;
    background-color: #e7e7e7de;
}



@media only screen and (max-width: 1024px) {

    .card-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 25px 0 0 0 ;
        padding: 0;
        width: 95vw;
        height: 60vh;
        gap: 2vw 3vw;
    }

    .card {
        position: relative;
        display: flex;
        width: calc(7vh + 35 * (100vw/400));
        height: calc(7vh + 35 * (100vw/400));
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        background-color: #c79051;
        box-shadow: 10px 10px 4px #070c0e;;
    }

    .text-box {
        background-image: linear-gradient(transparent, #151c1e);
        color: #f3f3f3;
        margin-top: -63%;
        width: 100%;
        height: 63%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: calc(4.2px + 2 * (100vw / 700));
    }

    .button {
        background-color: #c79051;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: none;
    }
    
    .add-button {
        width: 85px;
        height: 25px;
        border-radius: 5px;
        background-color: #c79051;
        font-family:'Times New Roman', Times, serif;
        font-size: 14px;
        color: #e7e7e7;
        border: none;
    }
}

@media only screen and (max-width: 768px) {

    .card-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 0 0 0 ;
        padding: 0;
        width: 90vw;
        height: 70vh;
        gap: 1vw 7vw;
    }

    .card {
        display: flex;
        width: calc(13vh + 15 * (100vw/400));
        height: calc(13vh + 15 * (100vw/400));
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        background-color: #c79051;
        box-shadow: 10px 10px 4px #070c0e;;
    }

    .text-box {
        background-image: linear-gradient(transparent, #151c1e);
        color: #f3f3f3;
        margin-top: -63%;
        width: 100%;
        height: 63%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: calc(4.5px + 2 * (100vw / 700));
    }

    .name {
        font-size: 1.5em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100%;
        padding: 1% 5% 1% 5%;
        display: flex;
        justify-content: center;
        cursor: default;
    }

    .button {
        background-color: #c79051;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: none;
    }
    
    .add-button {
        width: 85px;
        height: 25px;
        border-radius: 5px;
        background-color: #c79051;
        font-family:'Times New Roman', Times, serif;
        font-size: 14px;
        color: #e7e7e7;
        border: none;
    }
}

@media only screen and (max-width: 425px) {

    .card-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 0 0 0 ;
        padding: 0;
        width: 95vw;
        height: 70vh;
        gap: 1vw 6vw;
    }

    .card {
        display: flex;
        width: calc(11vh + 23 * (100vw/400));
        height: calc(11vh + 23 * (100vw/400));
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        background-color: #c79051;
        box-shadow: 10px 10px 4px #070c0e;;
    }

    .text-box {
        background-image: linear-gradient(transparent, #151c1e);
        color: #f3f3f3;
        margin-top: -63%;
        width: 100%;
        height: 63%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: calc(4px + 2 * (100vw / 700));
    }

    .name {
        font-size: 1.5em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100%;
        padding: 1% 5% 1% 5%;
        display: flex;
        justify-content: center;
        cursor: default;
    }

    .button {
        background-color: #c79051;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: none;
    }
    
    .add-button {
        width: calc(10vh + 10 * (100vw/400));
        height: calc(3vh + 5 * (100vw/400));
        border-radius: 5px;
        background-color: #c79051;
        font-family:'Times New Roman', Times, serif;
        font-size: calc(8px + 5 * (100vw / 400));
        color: #e7e7e7;
        border: none;
    }

    .button-box {
        position: absolute;
        top: 83vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .button-pedro {
        position: absolute;
        top: 88vh
    }
}